<!-- This our page to view the Theories -->
<div class="jumbotron text-center">
	<h1>All Theories</h1>
	<button onclick="goBack()">Back to Show Details</button>
</div>
    <div class="container content">
      


       
<% if (success.length > 0) { %>
	<div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>Theory Name</th>
			<th>Theory Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- grabbing each theory and displaying the title and description.-->
		<!-- the bootstrap button is a link to see that theories comments, but is currently. -->
		<% for (var theory of theories) { %> 
			<tr>
				<td><%= theory.title %></td> 
				<td><%= theory.description %></td>
				<td>
					<a href="/theories/<%= theory.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
					<a href="/theories/<%= theory.id %>/delete" class="btn btn-sm btn-danger">Delete</a>

				</td>
			</tr>

		<% } %>

	</tbody>
</table>

 </div>